[Unit]
Description=ODOO Server
After=network.target postgresql.service

[Service]
Type=simple
SyslogIdentifier=odoo
PermissionsStartOnly=true
User=odoo
ExecStart=/opt/odoo/12.0/odoo-bin --config=/etc/odoo.conf
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target

